// Define theme specific colors here.
$color__white: #fff;
$color__not-white: #f1f1f1;
$color__gray-lt: #ccc;
$color__gray-md: #a7a8a9;
$color__gray-dk: #231f20;
$color__blue-dk: #12284c;
$color__blue-dk-opacity: rgba(18, 40, 76, 0.9);
$color__black: #000;
$color__orange: #ff7f32;
$color__orange-opacity: rgba(255, 127, 50, 0.9);
$color__orange-hover: #bf5f26;
$color__link: #369;
$color__heading: #036;
