@import "../variables/_index";

a {
	color: $color__link;
	font-weight: bold;
	text-decoration: none;

	&:active,
	&:focus,
	&:hover {
		color: $color__link;
		text-decoration: underline;
	}

	&:focus {
		outline: thin dotted;
	}
}

// Force long links to wrap in the site content
.site-content {
	a {
		//word-wrap: break-word;
		//word-break: break-all;
		//word-break: break-word;
		//hyphens: auto;
		//
		//overflow-wrap: break-word;

		&.new-window-link {
			white-space: nowrap;
		}
	}
}
