@import "../mixins/index";

.wp-caption {
	max-width: 100%;
	margin-bottom: 5px;

	img[class*="wp-image-"] {
		@include center-block;
	}

	.wp-caption-text {
		margin: 12px 0;
	}
}

.wp-caption-text {
	color: #555;
	font-family: $font__main;
	font-size: 14px;
}
